
<div class="container-fluid">
    <div class="row p-4">
        <div class="col-12">
            <button type="button" class="btn btn-primary float-end mb-4" data-bs-toggle="modal" data-bs-target="#add-edit-modal" (click)="addModal();">
                Add Transaction
            </button>
            
            <table class="table table-striped table-dark table-hover table-sm align-middle">
                <thead class="table-dark table-striped border-white">
                    <tr>
                        <th>Method</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactionList$|async">
                        <td>{{transactionTypesMap.get(transaction.transactionTypeId)}}</td>
                        <td>
                            {{transactionCategoriesMap.get(transaction.transactionCategoryId)!.join(" - ")}}<br>
                            {{transaction.transactionDescription}}
                        </td>
                        <td>
                            {{transaction.transactionAmount | currency}}<br>
                            {{transaction.transactionDate | date:'shortDate'}}
                        </td>
                        <td>
                            <button type="button" title="Details" class="btn btn-outline-primary border-0 text-white me-1" data-bs-toggle="modal" data-bs-target="#add-edit-modal" (click)="editModal(transaction);">
                                <i class="fa fa-magnifying-glass"></i>
                            </button>
                            <button type="button" title="Delete" class="btn btn-outline-danger border-0 text-white" (click)="deleteModal(transaction);">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-add-edit-transaction [transaction]="transaction" [modalTitle]="modalTitle"></app-add-edit-transaction>

